@import url("./normalize.css");/*normalizamos los estilos*/

*{
    box-sizing: border-box;/*regla para el box-model tenga el total de la medida dada, incluido border, margin, padding y contenido*/
}


body, html{
    overflow: hidden;
    background: url('../img/game/background.jpg') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 320px;/*calcular el ancho de la imagen mas un 5% del lado derecho mas la columna de cosas encontradas y un 5% del lado derecho*/
}

/*************HEADER**************/
header{
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: #b6fccb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 #161616;
}
header ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
/*
header ul li{
    margin: 0 2rem 0 2rem;
    background-color: rgb(43, 255, 0);
}
*/
header ul li button{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #161616;
}
header ul li button:hover,
header ul li button:focus {
    background-color: rgb(195, 241, 255);
    cursor: pointer;
}

/**************TITULO***************/
.titleGame{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    /*background-color: tomato;*/
}
/**********BOTON AYUDA**********/
#btnHelp{
    z-index: 200;
    position: absolute;
    top:1.5%;
    right: 3%;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #161616;
}
#btnHelp:hover,
#btnHelp:focus {
    background-color: rgb(195, 241, 255);
    cursor: pointer;
}

/*******CONTENEDOR***********/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /*esto es para habilitar la propiedad de posicionamiento relativo para que los div que hagamos se muevan en relacion a este section*/
}
/******RELOJ*****************/
section nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*background-color: cyan;*/
}
section nav div{
    display: flex;
    justify-content: space-between;
}
section nav div #clock{
    height: 50px;
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.timer span{
    font-size: 2rem;
}

/*******CONTENEDOR JUEGO***********/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: cyan;*/
}
section content{
    width: 90%;
    height: auto;
    /*box-shadow: 0 0 10px 0 #161616;*/
    /*background-color: blue;*/
    /*overflow: hidden;*/
}
#content_imageGames{
    position: relative;
    box-shadow: 0 0 10px 0 #161616;
    /*background-color: cyan;*/
}


/******CONTENIDO DEL OBJETO A BUSCAR********/
.content_objects{
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: rgb(255, 0, 0);*/
    background-color: rgba(255, 0, 0, 0.0);
}
#objeto-1{
    position: absolute;
    top: 13%;
    left: 40%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito1{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
#objeto-2{
    position: absolute;
    top: 22%;
    left: 17%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito2{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
}
#objeto-3{
    position: absolute;
    top: 31%;
    left: 8%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito3{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
}
#objeto-4{
    position: absolute;
    top: 45%;
    left: 59%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito4{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
#objeto-5{
    position: absolute;
    top: 42%;
    left: 92%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito5{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
#objeto-6{
    position: absolute;
    top: 52%;
    left: 80%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito6{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
#objeto-7{
    position: absolute;
    top: 61%;
    left: 85%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito7{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
#objeto-8{
    position: absolute;
    top: 83%;
    left: 36%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito8{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
#objeto-9{
    position: absolute;
    top: 90%;
    left: 48%;
    height: 5%;
    width: 5%;
    border-radius: 50%;
}
#img_mosquito9{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

/****CONTENEDOR OBJETOS ENCONTRADOS******/
section aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem 2rem 1rem 2rem;
    box-shadow: 0 0 10px 0 #161616;
    /*background-color: tomato;*/
}
.content_Find_Object{
    width: 40px;
    height: 40px;
    margin: 5px;
    /*background-color: purple;*/
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #161616;
}
.content_Find_Object img{
    width: 100%;
    height: auto;
}


/*********LUPA********************/
#lupa{
    z-index: 10;
    pointer-events: none;
    position: absolute;
    height: 150px;
    width: 150px;
}
#lupa img{
    z-index: 20;
    pointer-events: none;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    top: -22px;
    left: -22px;
    filter: drop-shadow(10px 10px 10px #585858);
}


.magnify {
    width: 100%; 
    position: relative;
}

/*Creamos el vidrio de la lupa*/
.large {
    /*configuracion tamanio lupa*/
	width: 100px; 
    height: 100px;
	position: absolute;
	border-radius: 100%;
    pointer-events: none;
	
	/*efectos sombras en la lupa*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
	/*Imagen amplificada*/
	background: url('../img/game/plantilla1zoom.jpg') no-repeat;
	
	/*ocultamos*/
	/*display: none;*/
}

/*La imagen original se ajusta al tamanio de la pagina. Este tamanio se calcula automaticamente para la lupa y el zoom*/
.small { 
    display: block; 
    width: 100%;
    height: auto;
    /*
    max-height: 800px;
    max-width: 800px;
    */
}




/**********FOOTER******************/
footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:2rem;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6fccb;
}






/************MODAL AYUDA***************/
.modal {
    display: none; /* oculto por defecto */
    position: fixed;
    z-index: 100; /* que aparezca encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Si hay mucho texto habilitamos scroll*/
    background-color: rgba(0, 0, 0, 0.7); /* oscurece todo lo que hay en la pantalla */
}
  
/* Disenio del contenedor modal */
.modal-content {
    background-color: #d1f6ff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 0 10px 0 #161616;
    width: 80%;
}

/* Boton cerrar modal */
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/**********FONDO MARCO Y MENSAJE**********/
.messageModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
    margin: 5%;
    z-index: 110; /* que aparezca encima del blur */
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}

.content-message-game{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: blue;*/
}
.content-message-game img{
    width: 100%;
    height: auto;
}
.content-message-game p{
    position: absolute;
    top:30%;
    width: 80%;
    height: auto;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}


/************BLUR***************/
#blurBackground {
    display: block; /* oculto por defecto */
    position: fixed;
    z-index: 100; /* que aparezca encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7); /* oscurece todo lo que hay en la pantalla */
}

/**********BOTON***************/
.buttonUI{
    background-color: rgb(191, 211, 255);
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
}

.buttonUI:hover,
.buttonUI:focus {
    background-color: rgb(195, 241, 255);
    cursor: pointer;
}





/*********MEDIAS QUERYS******************/
@media (min-width: 500px) {
    .content_Find_Object{
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    #marcoMessage{
        width: 450px;
        height: 450px;
    }
    .content-message-game p{
        width: 360px;
        height: auto;
        font-size: 1.2rem;
    }
    
}

@media (min-width: 600px) {
    section content{
        width: 540px;
    }
    .small { 
        width: 540px;
        height: auto;
    }
    .magnify {
        width: 540px;
        height: auto;
    }
}

@media (min-width: 764px) {
    .content_Find_Object{
        width: 74px;
        height: 74px;
    }
    section{
        flex-direction: row;
    }
    section nav{
        margin: 1rem;
        align-self:flex-start;
    }
    section nav div{
        flex-direction: column;
        justify-content: center;
        
    }
    .timer span{
        font-size: 1.4rem;
    }
    
    section aside{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90px;
    }

    section content{
        width: 90%;
        max-width: 760px;
        height: auto;
    }
    .small { 
        width: 100%;
        max-width: 760px;
        height: auto;
    }
    .magnify {
        width: 100%; 
        max-width: 760px;
        position: relative;
    }


}